*{
padding:0;
margin:0;
box-sizing:border-box;
}
.main-container{
 display:flex;
}
.header{
  background-image:url('');
  flex:1.6;
  flex-direction:column;
  height:600px;
  display:flex;
  border-right:none;
  background-color:blue;
}
.content{
  background-color:red;
  flex:3;
  height:600px;
  border-left:none;
}
#hello{
  margin-top:calc(50% - 88px);
}
.titled{
  flex:1;
  text-align:center;
  color:white;
  font-size:35px;
  background-color:red;
}
.extra-box{
  flex:1;
}
.extra-box button{
  margin-top:20%;
  padding:10px;
  background-color:red;
  border:none;
  color:white;
  display:block;
  margin-left:calc(50% - 37.42px);
}
.nav{
  display:flex;
  padding:25px;
  background-color:#FADDDF;
}
.nav a{
  text-decoration:none;
  color:black;
}
.nav a:hover{
  color:red;
  border-bottom:solid thin red;
}
.nav-item{
  flex:1;
}
.facts{
  height:200px;
  display:flex;
  margin-top:60px;
}
.facts_1{
  text-align:center;
  flex:1;
}
.facts_2{
  text-align:center;
  flex:1;

}
.facts_3{
  text-align:center;
  flex:1;
}
.fact_text{
  margin-top:65px;
}
.fas{
  color:red;
  font-size:20px;
  margin-top:45px;
}
.search-box{
  margin-left:calc(50% - 55px);
  margin-top:50px;
}
table, th, td {
   border: 1px solid black;
}
.extras{
  text-align:center;
  display:flex;
  margin-top:60px;
  width:80%;
  margin-left:20px;
  vertical-align:middle;
}
.temp{
  background-color:brown;
  text-align:center;
  flex:1;
}
.gallery{
  background-color:brown;
  text-align:center;
  flex:1;
}
table{
  margin-left:calc(50% - 15px);
}
.gallery a{
  margin-left:calc(50% - 7.5px);
}
.footer{
  display:flex;
  height:200px;
  background-color:aqua;
}
.recommend{
  flex:1;
}
.policies{
  flex:1;
}
.contact{
  flex:1;
}

