@import url('https://fonts.googleapis.com/css?family=Almendra SC');
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
	height:100%;
	
 
	}
	.hero-text{
		margin-top:0;
		background-color:#F9FBE7;
		height:70px;
		
	
	}
	.hero-text h2{
		margin-top:0;
	position:relative;
	top:10px;
	font-size:35px;
	color:#D84315;
	padding-left:15px;
	font-family:'Almendra SC';
	}
	*{
	box-sizing:border-box;
}
	#headerul{
	position:absolute;
	top:10px;
	left:890px;
	border-top-left-radius:20px;
	
	border-bottom-left-radius:20px;
}

#headerul li a:hover{
	background-color:red;
}


#headerul li {
    float: left;
	list-style-type:none;
}

#headerul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#myInput {
background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-position: -11px -9px;
	/* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 45%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px;
margin-left:30px;
margin-top:70px;
background-color:#E8F5E9;	/* Add some space below the input */
}
#heads{

height:70px;
width:100%;
margin-top:0px;

opacity:0.8;
}

		
#searched{
		width:100%;
		
		background-color:#F9FBE7;
		border:1px hidden black;
		margin-bottom:0;
		padding:0;
		
		
}
#email
	{
		background-color:#18FFFF;
		padding-top:150px;
		padding-bottom:150px;
		text-align:center;
	}
#heads h1{
	color:white;
	position:relative;
	top:15px;
	left:20px;
	margin:0;
	}
	.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
width:40%;
position:absolute;
left:700px;
top:720px;
	}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
   
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#aqw
{
	text-align:center;
	background:grey;
	height:300px;
}
#ccc{
	padding-top:150px;
}
#wh
{
	text-align:center;
	background:grey;
	height:300px;
}
#whp{
	padding-top:150px;
}

#myUL {
  
    padding: 0;
    margin: 0;
}


#myUL li h4{
	width:40%;
	margin-left:40px;
    border: 1px solid #ddd; 
   
    background-color: #f6f6f6; 
    padding: 12px;	
   text-decoration:none; 
    font-size: 18px;
    color: black; 
    display: block; 
	cursor:pointer;
	position:relative;
	margin-top:-1px;
}




#myUL li h4.header {
    background-color: #e2e2e2; 
    cursor: default;
}
#ops{
	position:relative;
	left:1100px;
	top:500px;
}

#myUL li h4:hover:not(.header) {
    background-color: #eee;
}
#myDIV {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: #F8BBD0;
margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
	margin-left:40px;
}
#myDIV1 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: #B2DFDB;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;
	}
#myDIV2 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: #B2DFDB;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;
	}
#myDIV3 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: #B2DFDB;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV4 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV5 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV6 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
margin-left:40px;	box-shadow:3px 3px 1px #888888;
}
#myDIV7 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV8 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV9 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	margin-left:40px;box-shadow:3px 3px 1px #888888;
}
#myDIV10 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV11{
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
#myDIV12 {
    width: 40%;
    padding: 30px 0;
    text-align: center;
    background-color: lightblue;
 margin-bottom:8px;   
	box-shadow:3px 3px 1px #888888;
margin-left:40px;}
.mySlides{
	
	height:350px;
	width:100%;
}
.wcard{
	position:absolute;
	left:780px;
	top:1400px;
	border: 1px solid black;
	width:450px;
	background-color:#9C27B0;
	
	box-shadow:8px 7px 1px #888888;
}
.wcontainer p{
	color:white;
	text-align:center;
	padding:10px;
}
.wcontain {
	text-align:center;
}
.wcard1{
	position:absolute;
	left:780px;
	top:1100px;
	border: 1px solid black;
	width:450px;
	background-color:#9C27B0;
	
	box-shadow:8px 7px 1px #888888;
}
.wcard2{
	position:absolute;
	left:780px;
	top:1150px;
	border: 1px solid black;
	width:450px;
	background-color:#9C27B0;
	
	box-shadow:8px 7px 1px #888888;
}

.main {
    overflow: hidden;
    background-color: #00796B;
    font-family: Arial;
}
.main a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.drop {
    float: left;
    overflow: hidden;
}

.drop .btn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.main a:hover, .drop:hover .btn {
    background-color: red;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.drop2 {
    float: left;
    overflow: hidden;
}

.drop2 .btn2 {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.main a:hover, .drop2:hover .btn2 {
    background-color: red;
}

.content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content2 a:hover {
    background-color: #ddd;
}

.show2 {
    display: block;
}
.drop1 {
    float: left;
    overflow: hidden;
}

.drop1 .btn1 {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.main a:hover, .drop1:hover .btn1 {
    background-color: red;
}

.content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.content1 a:hover {
    background-color: #ddd;
}

#myInput4 {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable4 {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable4 th, #myTable4 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable4 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable4 tr.header, #myTable4 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}


.show1 {
    display: block;
}
#jkk{
	width:30%;
	background-color:#C2185B;
	position:relative;
	left:35%;
	border-radius:15px 50px;
	}
	#jkk h2{
	color:white;
	text-align:center;
	padding:15px;
	}
	#myInput1 {
    background-image: url('http://i47.tinypic.com/r02vbq.png'); /* Add a search icon to input */
    background-position: -12px -10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable1 {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable1 th, #myTable1 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable1 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable1 tr.header, #myTable1 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
	#myInput2 {
    background-image: url('http://i47.tinypic.com/r02vbq.png'); /* Add a search icon to input */
    background-position: -12px -10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable2 {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable2 th, #myTable2 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable2 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable2 tr.header, #myTable2 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
	#myInput3 {
    background-image: url('http://i47.tinypic.com/r02vbq.png'); /* Add a search icon to input */
    background-position: -12px -10px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable3 {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable3 th, #myTable3 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable3 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable3 tr.header, #myTable3 tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
